@charset "utf-8";
/* CSS Document */
body, div, ul {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(236,236,236); /* bleu clair */
	font-family: courier New;
}


/*  s'applique à l'entièreté du doc '*/
.global {
	/* l'ensemble de la page est centré */
	width: 950px;
	margin: 0 auto;
	background-color: rgb(236,236,236);
}

/*  NE s'applique QU'à l'ENTETE du doc  */
.entete {
	/* bandeau d'en-tete */
	height: 80px;
	padding: 0px;
	background-color: rgb(236,236,236);
	font-size: 15px;
}


/*  NE concerne QUE le MENU à gauche    */
nav .blocmenu {
	position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 256px;
	float: left;
	/* position: fixed; */
        /* display: block;  */
	margin-top: 15px;
        overflow: hidden;
}




/*  section du contenu de chaque document   */
.global section {
	/* colonne de droite */
	max-width: 670px;
	float: right;
	padding: 10px 0px 10px 10px;
	background-color: rgb(236,236,236);
}


.contenuImages {
	width: 692px;
}

table {
	width: 692px;
}

.imgsurvol:hover {
    -webkit-transform: scale(1.3);
    -moz-transform:scale(1.3);
    transform: scale(1.3);
}

/*  PIED de chaque formulaire   */
.pied {
	/* pied de page */
	clear: both;	/* oblige le browser à placer ce footer sous les 2 blocs flottants */
	background-color: rgb(236,236,236);
}

footer .colonnes_pied .cols_gauche .col_gauche_01 a,
footer .colonnes_pied .cols_droite .col_droite_01 a,
footer .colonnes_pied .cols_droite .col_droite_02 a,
footer .colonnes_pied .cols_droite .col_droite_03 a {
	vertical-align: top;
}



.colonnes_pied {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    bottom: 0;
}

.cols_gauche {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    left: 3%;
    position: absolute;
    bottom: -53%;
}

.cols_droite {
    display: flex;
    display: -webkit-flex;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    position: absolute;
    bottom: -53%;
    height: 20px;
    width: 980px;
    right: 0px;
}

.image_adresse {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}